  /* Search */
  .search-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .search-input,
  .price-input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #56A4AC;
    background: #C6D8E6;
    color: #0F2B31;
  }
  
  .search-input {
    width: 300px;
  }
  
  .price-input {
    width: 150px;
  }