#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}