/* Основен стил за контейнера */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #DBE6F3;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Промяна на размера при преминаване с мишката */
  .login-container:hover {
    transform: scale(1.2) /* Намалява размерите на контейнера */
  }
  
  /* Стил за заглавието */
  .login-title {
    text-align: center;
    font-size: 2rem;
    color: #0F2B31;
    margin-bottom: 20px;
  }
  
  /* Стил за съобщението за грешка */
  .error-message {
    color: #f44336;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Стил за формата */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Стил за полетата за въвеждане */
  .input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #56A4AC;
    background: #C6D8E6;
    color: #0F2B31;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #56A4AC;
  }
  
  /* Стил за бутона */
  .submit-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #56A4AC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0F2B31;
  }
  
  /* Стил за бутона при натиск */
  .submit-button:active {
    transform: scale(0.98);
  }
  