/* About Page Styles */
.about-container, .notfound-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #DBE6F3;
    border: 2px solid #0F2B31;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .about-container:hover, .notfound-container:hover {
    transform: scale(1.1);
  }
  
  .about-title, .notfound-title {
    color: #0F2B31;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .about-text, .notfound-text {
    color: #0F2B31;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .back-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #56A4AC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0F2B31;
  }
  
  .back-button:active {
    transform: scale(0.98);
  }
  