header {
    background-color: #0F2B31;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

header>h1 {
    color: #56A4AC;
    margin-left: 2rem;
    font-style: italic;
}

header>nav {
    display: flex;
    justify-content: center;
}

header>nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>nav>ul>li>a {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    margin: 0 0.2rem;
}

header>nav>ul>li>a:hover {
    background-color: #56A4AC;
    color: #0F2B31;
    opacity: 0.8;
}

header>nav>ul>li>a:active {
    background-color: #56A4AC;
    color: #0F2B31;
    opacity: 0.5;
}

.active-link {
    background-color: #56A4AC;
    color: #0F2B31;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
